
.pricing__products{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pricing__defaultMessage{
    font-size: 2vw;
    margin-top: 100px;
}
.pricing__productsTitle{
	text-align: center;
    display: block;
    margin-bottom: 10px;
}
.pricing__title{
    display: block;
    text-align: left;
    color: white;
    width: 100%;
}
.pricing__resume{
    width: 100%;
    margin-top: 80px;
}
.pricing {
    display: flex;
    flex-direction: row;
}
.pricing__productsContainer{
	display: flex;
    width: 100%;
	
}
.pricing__subtotal{
    display: flex;
    justify-self: center;
}