.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
@media (max-width:  760px){
    .products{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
}
