.header__navbar{
    margin-bottom: -5px;
}

.header__navlink {
   width: 100%;
   display: flex;
   justify-content: space-around;
}
.header__navlinks {
    color: rgba(0,0,0,0.8);
    font-weight: bolder;
    font-size: medium;
    text-decoration: none !important;
}
.header__navlinks :hover {
    text-decoration: none !important;
    color: lightpink;
}
.header__image{
    margin: 0;
    width: 120px;
    height: 120px
}